.view-ca-testimonial .views-field-field-ca-testimonial-t-image {
  float: left;
  padding: 10px;
}

.view-ca-testimonial .views-field-nothing {
  clear: both;
}

.view-ca-testimonial .views-field-title {
  margin: 0 0 0 220px;
}