.views-field-field-ca-testimonial-t-image {
  float: left;
  padding-right: 15px;
}

.view-ca-testimonial .views-field-nothing {
  clear: both;
}

.pane-node-field-ca-testimonial-t-link {
  text-align: right;
}

#testimonial-images { float: left; }

#testimonial-images .views-field-field-ca-testimonial-t-image-1 a {
  padding: 0 5px 5px 0;
}
